article img{

    width: 40%;
    padding-left: 550px;
    padding-top: 250px;
    
    }
    

    body {
    
    
    background-color: bisque;
    
    
    }

.materia a {

width: 20%;


}

img {

width: 20%;

}

p {

padding-left: 110px;
font-size: 30px;



}