.materia {

color: rgb(211, 214, 0);
background-color: rgb(4, 109, 109);
text-align: center;
font-size: 30px;

}

.corpao {

    background-color: rgb(4, 109, 109);
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.materia img {

 width: 70%;   
margin: 10px;
padding-left: 40px;

}  

@media (min-width: 1366px) {

    .materia img {

width: 20%;
margin-bottom:  20px;
padding-left: 260px;
margin-right: auto;

.grade {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax)(300px);
    
    }


    }
}


